/* Start variables */
:root {
  --main-color: #1bbeed;
  --secondary-color: #031d38;
  --transparent-color: rgba(25, 200, 249, 0.40);
  --padding: 100px;
}
/* End variables */
/* Start global rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
/* Start media */

/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End media */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* End global rules */
/* Start componant */
.spicial-heading{
  text-align: center;
}
.spicial-heading h3{
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 70px;
}
.spicial-heading h3::before{
  content: "";
  width: 120px;
  height: 2px;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
}
.spicial-heading h3::after{
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  bottom: -38px;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid #333;
  background-color: white;
}
.spicial-heading p{
  color: #777;
  width: 550px;
  max-width: 100%;
  margin: 0 auto 100px;
  line-height: 2;
}
/* end componant */
/* Start header */
header {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 3;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 91px;
}
header .container::after {
  content: "";
  position: absolute;
  width: calc(100% - 30px);
  height: 2px;
  background-color: #716e71;
  bottom: 16px;
  right: 15px;
}
header .container .logo img {
  width: 100px;
}
header nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header nav .menu{
  color: white;
  font-size: 22px;
}
@media (min-width: 768px) {
  header nav .menu{
    display: none;
  }
}
header nav ul{
  display: flex;
  list-style: none;
}
@media (max-width: 768px) {
  header nav ul{
    display: none;
    margin: 0;
  }
  header nav .menu:hover + ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 70%);
    padding: 10px;
    backdrop-filter: blur(5px);
  }
  header nav ul li a {
    padding: 15px !important;
  }
}
header nav ul li a{
  display: block;
  text-decoration: none;
  font-size: 14px;
  padding: 20px 10px;
  color: white;
  transition: 0.3s;
  position: relative;
  z-index: 3;
  font-weight: 600;
}
nav ul li a.active,
nav ul li a:hover{
  color: var(--main-color);
  border-bottom: 2px solid var(--main-color);
}
header .form{
  width: 40px;
  height: 30px;
  margin-left: 30px;
  position: relative;
  border-left: 2px solid white;
}
header .form i{
  font-size: 20px;
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}
/* End header */
/* Start landing */
.landing{
  background-color: #1f2021;
  background-image: url(../images/landing-one.jpg);
  background-size: cover;
  min-height: 100vh;
  position: relative;
}
.landing .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: .5;
}
.landing .text{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  background-color: var(--transparent-color);
  padding: 30px;
  color: white;
  display: flex;
  justify-content: flex-end;
}
.landing .text .content{
  max-width: 400px;
}
.landing .text .content h3{
  font-size: 25px;
  line-height: 1.8;
  margin: 0;
  font-weight: normal;
}
.landing .text .content p{
  font-size: 10px;
  line-height: 2;
}
@media (max-width: 767px){
  .landing .text{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
  }
  .landing .text .content h3{
    font-size: 15px;
  }
  .landing .text .content p {
    font-size: 10px;
    line-height: 1.6;
  }
}
.landing .arrow{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 22px;
  opacity: .5;
}
.landing .fa-angle-left {
  left: 15px;
}
.landing .fa-angle-right {
  right: 15px;
}
@media (max-width: 767px) {
  .landing .arrow{
    display: none;
  }
}
.landing .bullets{
  list-style: none;
  margin: 0;
  position: absolute;
  width: 50px;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}
.landing .bullets li{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid white;
}
.landing .bullets li.two,
  .landing li:hover{
  background-color: var(--main-color);
  border-color: var(--main-color);
}
/* End landing */
/* Start Services */
.services{
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}
@media (min-width: 768px) {
  .services .services-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 60px 40px;
  }
}
.services .services-content .srv{
  display: flex;
}
.services .services-content .srv i{
  font-size: 35px;
  margin-right: 30px;
}
.services .services-content .srv .text h4{
  margin-top: 0;
  font-size: 20px;
  color: var(--main-color);
}
.services .services-content .srv .text p{
  line-height: 1.9;
  color: #777;
}
@media (max-width: 767px) {
  .services .services-content .srv{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
  }
  .services .services-content .srv i{
    margin: 0 0 30px;
  }
}
/* End Services */
/* Start Design */
.design{
  background-image: url(../images/design-features.jpg);
  background-color: #031d38;
  background-size: cover;
  position: relative;
  height: 600px;
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  display: flex;
  align-items: center;
  overflow: hidden;
}
.design .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: .5;
}
.design .image{
  position: relative;
  text-align: center;
  z-index: 2;
  flex: 1;
}
.design .image img{
  position: relative;
  bottom: -150px;
}
.design .text{
  background-color: var(--transparent-color);
  color: white;
  padding: 50px;
  z-index: 2;
  flex: 1;
}
.design .text h4{
  font-size: 25px;
  font-weight: normal;
}
.design .text ul{
  list-style: none;
  padding: 0;
}
.design .text ul li{
  margin-bottom: 20px;
}
.design .text ul li i{
  margin-right: 10px;
}
/* End Design */
/* Start protfolio */
.protfolio{
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}
.protfolio .shuffle{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}
.protfolio .shuffle li{
  padding: 10px;
}
.protfolio .shuffle .active,
.protfolio .shuffle li:hover{
  background-color: var(--secondary-color);
  color: white;
  cursor: pointer;
}
.protfolio .image-content{
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.protfolio .image-content .box{
  position: relative;
  overflow: hidden;
}
@media (min-width: 768px) {
  .protfolio .image-content .box{
    flex-basis: 50%;
  }
}
@media (min-width: 1199px) {
  .protfolio .image-content .box{
    flex-basis: 25%;
  }
}
.protfolio .image-content .box img{
  max-width: 100%;
  transition: .3s;
}
.protfolio .image-content .box:hover img{
  transform: rotate(3deg) scale(1.1);
}
.protfolio .image-content .text{
  position: absolute;
  bottom: -100px;
  left: 0;
  background-color: white;
  width: 100%;
  padding: 15px;
  transition: .3s;
}
.protfolio .image-content .box:hover .text{
  bottom: 0;
}
.protfolio .image-content .text h5{
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 5px;
}
.protfolio .image-content .text p{
  color: var(--secondary-color);
  margin: 0;
}
.protfolio .btn{
  text-decoration: none;
  color: white;
  background-color: var(--secondary-color);
  padding: 15px 20px;
  display: block;
  width: fit-content;
  margin: 50px auto 0;
}
/* End protfolio */
/* Start video */
.video{
  position: relative;
}
.video video{
  width: 100%;
}
.video::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 2px);
  background-color: black;
  opacity: .5;
}
.video .text{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  background-color: var(--transparent-color);
  text-align: center;
  color: white;
  padding: 50px;
  z-index: 1;
}
.video .text h4{
  font-size: 25px;
  font-weight: normal;
  margin: 0 0 30px;
}
.video .text p{
  margin: 0 0 30px;
  font-size: 17px;
}
.video .text a{
  display: block;
  width: fit-content;
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 10px 20px;
  margin: 0 auto;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .video .text{
    padding: 15px;
  }
  .video .text h4{
    margin-bottom: 10px;
    font-size: 15px;
  }
  .video .text p{
    margin-bottom: 10px;
    font-size: 10px;
  }
  .video .text .btn{
    padding: 8px;
    font-size: 8px;
  }
}
/* End video */
/* Start about */
.about{
  padding-top: var(--padding);
  overflow: hidden;
  text-align: center;
}
.about img{
  position: relative;
  bottom: -120px;
  margin-top: -120px;
  max-width: 100%;
}
@media (max-width: 767px) {
  .about img{
    bottom: -60px;
    margin-top: -60px;
  }
}
/* End about */
/* Start stars */
.stars{
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  background-image: url(../images/stats.png);
  background-size: cover;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.stars::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .7;
}
.stars .container{
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.stars .container .box{
  flex-basis: 25%;
  background-color: var(--transparent-color);
  padding: 50px;
  color: white;
  animation-duration: 3s;
  animation-name: up;
  animation-timing-function: linear;
}
@media (max-width: 767px) {
  .stars .container .box{
    flex-basis: 100%;
  }
}
.stars .container .box i{
  background-color: black;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 auto 30px;
  padding-left: 1px;
}
@keyframes up {
  0%{
    position: relative;
      top: -380px;
    }

  50%{
      position: relative;
      top: -200px;
    }
  100%{
      position: relative;
      top: 0;
    }
  }
.stars .container .box .number{
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}
.stars .container .box p{
  font-size: 14px;
}
/* End stars */
/* Start skills */
.our-skills{
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}
.our-skills .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (min-width: 992px) {
  .our-skills .container > div{
    flex-basis: 45%;
  }
}
@media (max-width: 767px) {
  .our-skills .container .TESTIMONIALS{
    margin-bottom: 50px;
  }
}
.our-skills .container .TESTIMONIALS h4,
.our-skills .container .skills h4{
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  margin: 0 0 30px;
}
.our-skills .container .TESTIMONIALS h4 + p,
.our-skills .container .skills h4 + p{
  text-align: center;
  color: #777;
  line-height: 2;
  margin-bottom: 60px;
}
.our-skills .TESTIMONIALS .content{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.our-skills .TESTIMONIALS .content img{
  width: 100px;
  border-radius: 50%;
  margin-right: 50px;
}
.our-skills .TESTIMONIALS .content .text{
  line-height: 1.8;
  border-bottom: 1px solid #ccc;
}
.our-skills .TESTIMONIALS .content .text p{
  color: #777;
  text-align: right;
  margin: 0 0 10px;
  font-size: 14px;
}
@media (max-width: 767px) {
  .our-skills .container .TESTIMONIALS .content{
    flex-direction: column;
    text-align: center;
  }
  .our-skills .container .TESTIMONIALS .content img{
    margin: 0 auto 20px;
  }
  .our-skills .container .TESTIMONIALS .content .text{
    line-height: 1.5;
    font-size: 15px;
  }
  .our-skills .container .TESTIMONIALS .content p{
    text-align: center;
    margin-top: 10px;
  }
}
.our-skills .TESTIMONIALS .bullets{
  width: 40px;
  height: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.our-skills .TESTIMONIALS .bullets span{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid black;
}
.our-skills .TESTIMONIALS .bullets .active,
.our-skills .TESTIMONIALS .bullets span:hover{
  background-color: var(--main-color);
  border-color: var(--main-color);
}
.our-skills .skills .prog-holder{
  margin-bottom: 30px;
}
.our-skills .skills .prog-holder h5{
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 12px;
}
.our-skills .skills .prog-holder .prog-bar{
  background-color: #ccc;
  width: 100%;
  height: 25px;
}
.our-skills .skills .prog-holder span{
  background-color: var(--main-color);
  display: block;
  height: 100%;
  position: relative;
}
.our-skills .skills .prog-holder span::before{
  content: attr(data-progress);
  position: absolute;
  top: -35px;
  right: -16px;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 13px;
}
.our-skills .skills .prog-holder span::after{
  content: "";
  position: absolute;
  border: 10px solid;
  border-color: black transparent transparent transparent;
  top: -14px;
  right: -8px;
}
.our-skills .skills .prog-holder .one{
  width: 90%;
  animation-name: load;
  animation-duration: 3s;
}
@keyframes load{
  0%{
    width: 0;
  }
  100%{
    width: 90%;
  }
}
.our-skills .skills .prog-holder .two{
  width: 85%;
  animation-name: load2;
  animation-duration: 3s;
}
@keyframes load2{
  0%{
    width: 0;
  }
  100%{
    width: 85%;
  }
}
.our-skills .skills .prog-holder .three{
  width: 80%;
  animation-name: load3;
  animation-duration: 3s;
}
@keyframes load3{
  0%{
    width: 0;
  }
  100%{
    width: 80%;
  }
}
.our-skills .skills .prog-holder .four{
  width: 93%;
  animation-name: load4;
  animation-duration: 3s;
}
@keyframes load4{
  0%{
    width: 0;
  }
  100%{
    width: 93%;
  }
}
/* End skills */
/* Start qoute */
.qoute{
  background-image: url(../images/quote.jpg);
  background-size: cover;
  text-align: center;
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  color: white;
  position: relative;
}
.qoute .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 70%;
}
.qoute .container{
  position: relative;
}
.qoute q{
  font-size: 30px;
  font-weight: normal;
}
.qoute p{
  margin: 20px 0 0;
}
/* End qoute */
/* Start plans */
.pricing{
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}
.pricing .plans{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
  gap: 20px;
}
.pricing .plans .plan{
  background-color: #fcfcfc;
  text-align: center;
}
.pricing .plans .plan .card{
  padding: 40px 20px;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan .card h4{
  font-weight: normal;
  font-size: 20px;
  margin: 0 0 20px;
}
.pricing .plans .plan .card span{
  font-size: 60px;
  font-weight: bold;
}
.pricing .plans .plan .card span::before{
  content: "$";
  position: relative;
  font-size: 25px;
  font-weight: normal;
  top: -45px;
  left: -10px;
}
.pricing .plans .plan .card span::after{
  content: "/mo";
  position: relative;
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  right: -15px;
  bottom: 0;
}
.pricing .plans .plan ul{
  list-style: none;
  padding: 0;
  border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan ul li{
  padding: 20px;
  position: relative;
}
.pricing .plans .plan ul li:not(:last-child)::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 1px;
  background-color: var(--main-color);
}
.pricing .plans .plan a{
  display: block;
  margin: 20px auto;
  width: fit-content;
  padding: 20px;
  text-decoration: none;
  border:1px solid var(--main-color);
}
.pricing .request{
  text-align: center;
  margin: 50px auto 20px;
  font-size: 20px;
}
.pricing .contact-link{
  display: block;
  text-decoration: none;
  width: fit-content;
  background-color: var(--main-color);
  color: white;
  margin: 20px auto;
  padding: 15px 30px;
}
/* End plans */
/* Start subscribe */
.subscribe{
  background-image: url(../images/subscribe.jpg);
  background-size: cover;
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  position: relative;
}
.subscribe::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 50%;
}
.subscribe .container{
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}
@media (max-width: 767px) {
  .subscribe .container{
    flex-direction: column;
  }
}
.subscribe .box{
  position: relative;
  display: flex;
  border: 2px solid white;
  flex-basis: 45%;
  max-width: 100%;
}
.subscribe .box i{
  font-size: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px;
}
.subscribe .box input{
  background: none;
  border: none;
  outline: none;
  position: relative;
  width: calc(100% - 120px);
  padding: 15px 2px 15px 40px ;
  color: white;
}
.subscribe .box ::placeholder{
  color: white;
}
.subscribe .box a{
  display: block;
  width: 120px;
  text-decoration: none;
  color: white;
  padding: 15px;
  background-color: var(--main-color);
  text-align: center;
}
.subscribe p{
  flex-basis: 45%;
}
@media (max-width: 767px) {
.subscribe .box input{
  width: calc(100% - 80px);
}
.subscribe .box a{
  width: 80px;
  padding: 15px 3px;
  text-align: center;
}
.subscribe p{
  text-align: center;
  font-size: 14px;
}
}
/* End subscribe */
/* start contact */
.contact-us{
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}
.contact-us .content{
  display: flex;
  justify-content: space-between;
}
.contact-us .content form{
  flex-basis: 70%;
  position: relative;
}
.contact-us form input[type="text"],
.contact-us form input[type="email"],
.contact-us form .main-text{
  display: block;
  padding: 20px;
  margin-bottom: 30px;
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
}
.contact-us form .main-text{
  height: 200px;
}
.contact-us form input[type="submit"]{
  position: absolute;
  right: 0;
  text-transform: uppercase;
  background-color: var(--main-color);
  border: none;
  color: white;
  padding: 20px;
}
.contact-us .content .info{
  flex-basis: 25%;
}
.contact-us .content .info h4{
  font-weight: normal;
  font-size: 20px;
  margin: 0 0 20px;
}
.contact-us .content .info span{
  display: block;
  margin-bottom: 10px;
  color: #777;
}
.contact-us .content .info address{
  margin-top: 100px;
}
.contact-us .content .info address span{
  line-height: 1.8;
}
@media (max-width: 767px) {
  .contact-us .content{
    flex-direction: column;
  }
  .contact-us .info{
    order: -1;
    text-align: center;
    margin-bottom: 30px;
  }
}
/* End contact */
/* start footer */
footer{
  background-image: url(../images/subscribe.jpg);
  background-size: cover;
  position: relative;
}
footer::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 75%;
}
footer .container{
  position: relative;
  text-align: center;
  color: white;
}
footer .logo img{
  width: 100px;
  margin-top: 50px;
}
footer .content h4{
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 50px 0 30px;
}
footer .content hr{
  width: 250px;
}
footer .content .social i{
  margin: 30px 20px;
}
footer .content p{
  margin: 0;
  padding: 20px 0;
  font-size: 15px;
  font-weight: normal;
}
footer .content p span {
  color: var(--main-color);
}
/* end footer */